.footerlinks {
    color: #051f38;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #1403fa;
    }



#footer2 {
    background: rgba(221, 221, 221, 0.322);
    position: fixed;
    margin-top: auto;
    
   
   
}

.badged {
    color: #ffffff;
    background-color: #17a2b8;
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.badged2 {
    color: #ffffff;
    background-color: #00FF00;
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.badged3 {
    color: #ffffff;
    background-color: #FFFF00;
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
