
#footer1 {
    background: #e0dbd8;
    position:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.badged {
    color: #ffffff;
    background-color: #2dd817;
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.badged2 {
    color: #ffffff;
    background-color: #00FF00;
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.badged3 {
    color: #ffffff;
    background-color: #FFFF00;
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
   
    padding: 10px;
}